body {
   background: #d696f0;
}
h1 {
   text-align: center;
}
.caixa1 {
  position: relative;
  background: rgb(192, 65, 135);
  width: 200px;
  height: 200px;
  color: #FFFFFF;
  left: 45%;
}
.caixa2 {
  position: relative;
  background: rgb(197, 97, 228);
 width: 200px;
 height: 200px;
 color: #FFFFFF;
 top: 50%;
}

.menuprincipal {
   position: absolute;
   width: 100%;
   height: 45px;
   background: rgb(3, 1, 5);
   top: 0;
   left: 0;
}
nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: 0;
}
li {
   float: left;

}
li a {
   display: block;
   color: rgb(235, 219, 235);
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li a:hover {
   background: rgb(248, 248, 248);
   color: rgb(0, 0, 0);
}
#bomba {
   width: 10%;
}
.boxbomba {
   position: absolute;
   width: 100% ;
   height: 200px ;
   background: rgb(121, 54, 184);
   top: 50px;
   left: 0;
   border-color: rgb(56, 23, 56);
   border-width: 15px;
   border-style: solid;
   margin: 20px;
   padding: 20px;
}